{{> layout/header}}

<section>
    <!--title=제목6&content=내용6 ----&ndash;&gt; application/x-www-form-urlencoded
        key 값은 input태그의 name
        value 값은 input 태그에 사용자가 입력하는 값-->
    <form action="/board/{{model.id}}/update" method="post" enctype="application/x-www-form-urlencoded"> <!-- 1.0 방식-->
        <input type="text" name="id" placeholder="{{model.id}}" value="{{model.id}}" readonly="true"></br>
        <input type="text" name="title" placeholder="{{model.title}}"></br>
        <input type="text" name="content" placeholder="{{model.content}}"></br>
        <input type="text" name="createdAt" value="{{model.createdAt}}" readonly></br>
        <button type="submit">글 수정하기</button>
    </form>
</section>

</body>
</html>